mixin cup(color, name)
  .cup-counter.CupsCounter(data-name=name)
    .cup(class=color)
    .cup-score
      span.CupScore 0
      | /
      span.All 0

doctype html
html
  head
    include depends.jade
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='styles.css')
    script(src='app.js')
    title EvaStudio test task: Match3

  body
    .wrapper
      .header
        .counter.pull-right
          .value.Score 0
          .label Score

        .cups-counter.pull-right.CupsCounters
          +cup('red', 'red')
          +cup('yellow', 'yellow')
          +cup('green', 'green')
          +cup('blue', 'blue')
          +cup('magenta', 'magenta')

        .counter
          .value.Moves 0
          .label Moves

      .field
        canvas.field-canvas.Canvas
